<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Modified by vpmalley
-->
<html>
	<head>
		<title>Explorations Boréales ... et autres aventures</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<h1><a href="#" id="logo">Explorations Boréales ... et autres aventures</a></h1>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index.html">Home</a></li>
								<li>
									<a href="">Things</a>
									<ul>
										<li><a href="#">Home</a></li>
										<li>
											<a href="">Blog</a>
											<ul>
											  {% for post in site.posts %}
                          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
												{% endfor %}
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</nav>


					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<span class="byline">
										  {{ post.excerpt }}
										</span>
									</header>
								</section>			
							</div>
						</div>

				</div>
			</div>


			<div class="wrapper style2">
			  <h2>{{ page.title }}</h2>			
        {{ content | markdownify }}
			</div>


		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="4u">
								<section>
									<header class="major">
										<h2>Pages - Contact</h2>
										<span class="byline">Identités sur le Net</span>
									</header>
									<ul class="contact">
										<li>
											<span class="mail">Email</span>
											<span><a href="mailto:vpmalley@gmail.com">vpmalley at gmail</a></span>
										</li>
										<li>
											<span class="github">Github</span>
											<span><a href="http://www.github.com/vpmalley">vpmalley</a></span>
										</li>
										<li>
											<span class="linkedin">LinkedIn</span>
											<span>lala</span>
										</li>
										<li>
											<span class="stackoverflow">StackOverflow</span>
											<span>lili</span>
										</li>
										<li>
											<span class="flickr">Flickr</span>
											<span><a href="https://www.flickr.com/photos/107938954@N05">Vincent</a></span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a>
						</div>

				</div>
			</div>

	</body>
</html>
